:root {
	--green: #00c886;
	--white: #ffffff;
	--red: #c42f2f;
	--black: #000000;
	--orange: #ff8a5f;
	--background: #fdf6ed;
	--primary: #ff8a5f;
	--secondary: #fdbb9b;
	--m: 8px;
	--p: 8px;
	--base: 8px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Montserrat";
	font-weight: 300;
	color: var(--black);
	background: var(--background);
}

button,
.button {
	display: inline-block;
	padding: var(--p);
	margin: 0;
	text-decoration: none;
	background: transparent;
	outline: none;
	color: var(--primary);
	border: 2px solid var(--primary);
	cursor: pointer;
	text-align: center;
	transition: 250ms ease-in-out, transform 150ms ease;
	font-size: 20px;
}

button:hover,
.button:hover {
	background: var(--primary);
	color: var(--white);
	border: 2px solid var(--primary);
}

a {
	text-decoration: underline;
	padding-bottom: var(--p);
	color: var(--black);
}

a:hover {
	text-decoration: none;
}

.container {
	margin: var(--m);
	display: flex;
	flex-direction: column;
}

.block {
	display: grid;
	grid-template-columns: 90px 40vw;
	align-items: center;
	margin-top: calc(var(--base) * 8);
	flex-wrap: wrap;
}

.block .image {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: var(--secondary);
	margin-right: var(--m);
	display: flex;
	align-items: center;
	justify-content: center;
}

.block .error {
	background-color: transparent;
	background-image: url("../assets/images/icon-error.svg");
	border-radius: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.block .success {
	background-color: transparent;
	background-image: url("../assets/images/icon-check.svg");
	border-radius: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-checkmark {
	fill: var(--orange);
}
