:root {
	--green: #1b998b;
	--white: #ffffff;
	--red: #c42f2f;
	--black: #000000;
	--background: #f7bb90;
	--m: 8px;
	--p: 8px;
	--base: 8px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Montserrat";
	font-weight: 300;
	color: var(--black);
}

button,
.button {
	display: inline-block;
	padding: var(--p);
	margin: 0;
	text-decoration: none;
	background: transparent;
	color: var(--green);
	border: 2px solid var(--green);
	cursor: pointer;
	text-align: center;
	transition: 250ms ease-in-out, transform 150ms ease;
	font-size: 20px;
}

button:hover,
.button:hover {
	background: var(--green);
	color: var(--white);
	border: 2px solid var(--green);
}

a {
	text-decoration: none;
	padding-bottom: var(--p);
}

a:hover {
	text-decoration: underline;
}

.container {
	margin: var(--m);
	display: flex;
	flex-direction: column;
}

.block {
	display: grid;
	grid-template-columns: 90px 1fr;
	align-items: center;
	margin-top: calc(var(--base) * 8);
}

.block .image {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: bisque;
	margin-right: vr(0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.block .error .image {
	background-color: red;
}
